.whysmsection {
    margin: 90px 93px 91px 81px;
    color: #FFF;
    font-style: normal;
    text-align: center;
    font-family: Roboto;
}
.whysmsection div {
    position: relative;
}
.whysmsection-heading {
    font-size: 35px;
    font-weight: 300;
    line-height: 42.62px;
    margin-top: 0px;
    margin-bottom: 25px;
}

.whysmsection hr {
    width: 70px;
    height: 2px;
    background: #29A643;
    position: relative;
}

.whysmsection-description {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    width: 48%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 32px;
}

.whyxm-grid-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.box {
    background: #0B0819;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(45px);
    backdrop-filter: blur(45px);
    text-align: left;
    padding-top: 57px;
    padding-left: 52px;
}

.box h2 {
    margin: 0;
}

.box hr {
    margin-bottom: 22px;
    margin-top: 22px;
    margin-inline-start: 0;
}

.box p {
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 137.5% */
}

.superior-trade-execution {
    grid-area: 1 / 1 / span 2 / span 1;
}

.superior-trade-execution h2 {
    width: 50%;
}

.superior-trade-execution p {
    width: 56%;
}

.superior-trade-execution img {
    position: absolute;
    bottom: 25.88px;
    left: 42px;
}

.competitive-pricing {
    grid-area: 1 / 2 / span 1 / span 2;
    height: 265px;
    flex-shrink: 0;
}

.competitive-pricing p {
    width: 49%;
}

.advanced-technology {
    grid-area: 2 / 2 / span 1 / span 1;
    height: 285px;
    flex-shrink: 0;
}

.competitive-pricing h2,
.advanced-technology h2 {
    width: 25%;
}

.start-with-little {
    grid-area: 2 / 3 / span 1 / span 1;
    height: 285px;
    flex-shrink: 0;
}

.advanced-technology p,
.start-with-little p {
    width: 54%;
}

.competitive-pricing img,
.advanced-technology img,
.start-with-little img {
    position: absolute;
    top: 28px;
    right: 26px;
}
#gold-number-2{
    left: -22%;
    top: 130%;
}

@media (max-width: 1100px) {
    .whyxm-grid-container {
        grid-template-columns: 1fr;
        /* 1 column */
        grid-template-rows: auto;
        /* Auto-sized rows */
    }

    .whysmsection-description {
        width: 88%;
    }

    .competitive-pricing,
    .advanced-technology,
    .start-with-little {
        grid-area: auto;
        /* Reset grid area */
    }

    .superior-trade-execution,
    .competitive-pricing,
    .advanced-technology,
    .start-with-little {
        height: 230px;
    }

    .superior-trade-execution img,
    .competitive-pricing img,
    .advanced-technology img,
    .start-with-little img {
        position: absolute;
        left: auto;
        bottom: auto;
        top: 28px;
        right: 44px;
    }

    .superior-trade-execution img {
        width: 41.463px;
        height: 87.953px;
    }

    .competitive-pricing img {
        width: 92.556px;
        height: 90.521px;
    }

    .advanced-technology img {
        width: 87.815px;
        height: 89.857px;
    }

    .start-with-little img {
        width: 59.048px;
        height: 91.139px;
    }
    #gold-number-2 {
        left: -22%;
        top: 81%;
        max-width: 60%;
    }
}

@media (max-width: 480px) {
    .whysmsection {
        margin-left: 15px;
        margin-right: 25px;
    }

    .whysmsection-heading {
        margin: auto;
        width: 70%;
    }

    .whysmsection-description {
        width: 84%;
    }

    .box {
        height: 235px;
        padding-top: 43px;
        padding-left: 30px;
    }

    .superior-trade-execution h2 {
        width: 70%;
    }

    .superior-trade-execution p {
        width: 75%;
    }

    .competitive-pricing p {
        width: 73%;
    }

    .advanced-technology p,
    .start-with-little p {
        width: 75%;
    }

    .superior-trade-execution img,
    .competitive-pricing img,
    .advanced-technology img,
    .start-with-little img {
        position: absolute;
        left: auto;
        bottom: auto;
        top: 19.2px;
        right: 27.7px;
    }

    .superior-trade-execution img {
        width: 26.829px;
        height: 56.911px;
    }

    .competitive-pricing img {
        width: 59.889px;
        height: 58.573px;
    }

    .advanced-technology img {
        width: 56.821px;
        height: 58.143px;
    }

    .start-with-little img {
        width: 38.207px;
        height: 58.972px;
    }
    #gold-number-2 {
        left: -57%;
        top: 281%;
        max-width: 118%;
    }
}