section {
    background: #201D27;
}


/* primary info styles */
.primary-content-container {
    width: 100%;
    padding-top: 121px;
    background: linear-gradient(180deg, rgba(32, 46, 71, 0.65) 36.53%, rgba(32, 46, 71, 0.62) 57.69%, rgba(32, 46, 71, 0.58) 78.84%, rgba(32, 46, 71, 0.00) 100%);
    mix-blend-mode: hard-light;
}

.primary-content {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    line-height: normal;
    margin: auto;
    width: 44%;
}

.primary-content button {
    margin-top: 30px;
    margin-bottom: 25px;
    border: none;
    color: #fff;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background: #29A643;
    color: #fff;
    padding: 6px 92.08px 7px 91.08px;
    cursor: pointer;
}

.primary-content>p:first-child {
    color: #DDD;
    font-size: 16px;
    font-weight: 400;
    line-height: 39.5px;
}

.primary-content>p {
    margin-top: 0;
    margin-bottom: 0;
}

.pc-para-1 {
    font-size: 35px;
    font-weight: 400;
    line-height: 42px;
    margin-bottom: 25px !important;
}

.pc-para-2 {
    margin: auto;
    width: 73%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.pc-link-1 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px !important;
}

.pc-link-1 a {
    text-decoration-line: underline;
    cursor: pointer;
}

.pc-link-2 {
    font-size: 12px;
    font-weight: 400;
}

.pc-link-2 a {
    color: #D51820;
}

#cube-glass-2,
#cube-glass-3,
#cup-glass-1,
#gold-number-1,
#gold-number-2,
#gold-number-angle-1,
#perforated-ring,
#green-bg {
    position: absolute;
}

#perforated-ring {
    left: 13%;
    top: 75%;
    width: 7%;
}

#cup-glass-1 {
    width: 5%;
    top: 14%;
    right: 8%;
}

#gold-number-angle-1 {
    left: 2%;
    width: 17%;
}

#gold-number-1 {
    right: -9%;
    width: 20%;
    top: 20%;
}

#cube-glass-2 {
    right: 9%;
    width: 18%;
    top: 67%;
}

#cube-glass-3 {
    left: -6%;
    width: 17%;
    top: 45%;
}

#green-bg {
    left: 0%;
    top: 90%;
}

/* Tablet Styles */
@media (max-width: 1024px) {
    section {
        position: relative;
    }
    .primary-content {
        width: 70%;
        /* Tablet width */
    }

    #cube-glass-2 {
        right: 9%;
        width: 20%;
        top: 13%;
    }

    #cube-glass-3 {
        left: -8%;
        width: 22%;
        top: 4%;
    }

    #gold-number-1 {
        right: -9%;
        width: 25%;
        top: 4%;
    }

    #cup-glass-1 {
        width: 7%;
        top: 1%;
        right: 10%;
    }
    #perforated-ring {
        top: 11.2%;
        left: 15%;
    }
    #green-bg {
        left: 3%;
        top: 52%;
    }
}

/* Mobile Styles */
@media (max-width: 767px) {
    section {
        position: relative;
    }
    .primary-content {
        width: 90%;
        /* Mobile width */
    }
    .primary-content-container {
        padding-top: 97px;
    }
    .pc-para-2 {
        width: 85%;
    }

    .pc-link-2 {
        width: 75%;
        margin: auto;
    }
    #gold-number-angle-1 {
        width: 44%;
    }
    #cup-glass-1,#perforated-ring,
    #cube-glass-3, #green-bg {
        display: none;
    }
    #cube-glass-2 {
        right: -13%;
        width: 37%;
        top: 0%;
    }
    #gold-number-1 {
        right: -13%;
        width: 37%;
        top: 12.4%;
    }
}