.registrationsection {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    padding-bottom: 87px;
}

.registerform-heading {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 111.9%;

}

.registerform-description {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.event-info {
    width: 656px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin: auto;
    margin-top: 51px;
    text-transform: uppercase;
}

.event-info div {
    border-right: 1px solid #fff;
    padding-top: 24px;
}

.event-info div:first-child {
    width: 50%;
}

.event-info div:nth-child(2) {
    width: 35%;
}

.event-info div:last-child {
    border: none;
}
.new-acc-text,
.tandc-text{
    font-style: normal;
    text-align: center;
    font-family: Roboto;
    line-height: 111.9%;
    font-weight: 400;
}

.new-acc-text {
    color: #FFF;
    font-size: 14px;
    margin-top: 33px;
    margin-bottom: 25px;
}

.tandc-text {
    color: #EFEFEF;
    font-size: 12px;
    padding-bottom: 87px;
}

.new-acc-text span{
    text-decoration: underline;
}

.new-acc-text span,
.tandc-text span{
    color: #D51820;
    cursor: pointer;
}

/* Tablet Styles */
@media (max-width: 1024px) {
}

/* Mobile Styles */
@media (max-width: 768px) {

    .new-acc-text {
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 115.9%;

        width: 260px;
        height: 32px;
    }
    .tandc-text {
        color: #E3E3E3;
        text-align: center;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 260px;
        margin-left: auto;
        margin-right: auto;
    }
}